# Configuration de la base de données
# Remplacez par votre URL Neon
DATABASE_URL=postgresql://neondb_owner:VOTRE_MOT_DE_PASSE@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require

# URL de l'API pour l'app mobile (à mettre à jour après déploiement Firebase)
EXPO_PUBLIC_DOMAIN=https://votre-projet.web.app
