modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true
integrations = ["javascript_object_storage:2.0.0", "javascript_openrouter_ai_integrations:2.0.0", "javascript_openai_ai_integrations:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo Mobile"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Dashboard"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Food-Assistance && npm run server:dev"
waitForPort = 8000

[[workflows.workflow]]
name = "Expo Mobile"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Food-Assistance && yes | npx expo start --tunnel"

[[workflows.workflow]]
name = "Web Dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Food-Assistance/webapp && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 8081
